.podium-game {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-arsenic);
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    box-sizing: border-box;
}

.podium-game .winner {
    background-color: var(--color-pomb-and-power);
    border: 4px solid var(--color-floral-white);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 25px 20px 20px;
    gap: 10px;
}

.podium-game .icon-trophy {
    width: 60px;
}